/*
    Cole Chamberlin
    10/27/15
    INFO 343
    Crud-App

    This file provides styles for the login.html page
*/

.container {
    display: table;
}

body {
    height: 100%;
}

.row {
    display: table-cell;
    vertical-align: middle;
}